@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --yellow-color: #ffe10b;
  --yellowbg-color: #f39d12;
  --black-color: #1b1b1b;
  --white-color: #fff;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellowbg-color);
  border-radius: 20px;

}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav.sticky{
  background-color: #f39d12;
  color: #f39d12;
  transition: 0.5s all ease-in-out;
}
nav .navbar{
  height: 100%;
  /* max-width: 1250px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 10px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}

nav .navbar .links{
  display: flex;

}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  /* padding: 5px 10px; */
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--yellowbg-color);
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .links li a{
  transition: 0.3s all ease;
}
.navbar .links  li a:hover{
  transform: scale(1.2);


}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  display: none;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  display: none;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  display: block;
  background: #3E8DA8;
}
.search-box .input-box::before{
  content: '';
  display: none;
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  display: n;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){

  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 290px;
    width: 100%;
    height: 100vh;
    background-color: var(--yellowbg-color);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .nav .navbar .llinks{
    height: 100%;
    background-color: var(--yellowbg-color);
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 35px;
    letter-spacing: 2px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}




/* home section styling */
.home-section {
  position: relative;
  background-image: url(../images/schoolbg.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;

}


.home-section .home-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  

  
}
.home-section .home-content .text{
  padding: 20px 30px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 100px;
  width: 720px;
}
.home-section .home-content .text-one {
  font-size: 35px;
  margin-left:10px ;
  font-weight: 400;
  color: var(--white-color);
}

.home-section .home-content .text-two {
  color: #ffe10b;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  letter-spacing: 5px;
  

}

.home-section .home-content .text-three {
  font-weight: 400;
  font-size: 40px;
  margin: 5px 0;
  color: var(--white-color);
}

.home-section .home-content .text-four {
  font-size: 30px;
  margin: 5px 0;
  color: var(--white-color);
  font-weight: 400;
}
.levels{
  display: flex;
  margin-left: 110px;
}
.button{
  padding: 0 15px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: rgba(255,225,11,0.9); */
  /* background-color: var(--yellow-color); */
  opacity: 0.8;
  font-size: 35px;
  font-weight: 500;
  outline: none;
  border-radius: 10px;
  color: #fff;
  margin: 0 10px;
  transition: 0.3s all ease;
}
.button:hover{
  background-color: var(--yellow-color);
  opacity: 1;
  /* Slider-section ends */
  /* border: none; */
}

/* Slider-section */
.slider-section{
  margin-top: 20px;
  height: 80vh;
  
}
.slider-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 70vh;
}
.slider-container .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	animation: animate 10s linear infinite;
}
.slider-container  .slider .slide {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}
.slider-container  .slider .slide .caption { 
	position: absolute;
	top: 50%;
	left: 50%;
  width: 800px;
  transform: translate(-50%,-50%);
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	box-sizing:border-box;
	transition: 0.5s;
}
.slider-container  .slider .slide .caption h2 { 
	margin: 0;
	padding: 0;
  margin-bottom: 10px;
	color: #fff;
	font-size: 35px;
  border-bottom: 1px solid white;
	transition: 0.5s;
}
.slider-container  .slider .slide .caption p { 
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}
.slider-container  .slider .slide.slide1 {
  background: url(../images/school.jpeg);
	background-size: cover;
	background-position: center;
}
.slider-container  .slider .slide.slide2 {
  background: url(../images/schoolbg.jpeg);
	background-size: cover;
	background-position: center;
}
.slider-container  .slider .slide.slide3 {
  background: url(../images/school.jpeg);
	background-size: cover;
	background-position: center;
}
.slider-container  .slider .slide.slide4 {
  background: url(../images/school.jpeg);
	background-size: cover;
	background-position: center;
}
.slider-container  .slider .slide.slide5 {
	background-size: cover;
	background-position: center;
}

@keyframes animate {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}



@media screen and (max-width: 850px) {
  .container .slider .slide .caption {
    width: 600px; 

	}
	.container .slider .slide .caption h2 { 
		margin: 0 0 10px;
		font-size: 25px;
	}
	.container .slider .slide .caption p { 
    font-size: 16px;
	}
}
@media screen and (max-width: 650px) {
  .slider-container .slider .slide .caption  {
    width: 400px;
  }
  .slider-container .slider .slide .caption h2  {
    font-size: 25px;
  }
  .slider-container .slider .slide .caption p {
    font-size: 10px;
}}
@media screen and (max-width: 500px) {
  .slider-container .slider .slide .caption  {
    width: 300px;
  }


  

}
/* Home-section-2 styling */

.home-section-2{
  height:100vh;
  margin-bottom:120px ;
  padding-top:100px ;
  /* position:relative; */
  /* border: 2px solid red; */

}
.home-section-2 .home-container{
  width: 80%;
  /* position:relative; */
  margin: 0 auto;
  padding: 10px 0 0 0 ;
  min-height: auto;
  display: block;
  
}
.home-section-2 .home-container .title{
  text-align: center; 
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.slider-section  .title {
  text-align: center;
  padding: 10px 0;
}
.team-container .title span,
.slider-section  .title span,
.home-section-2 .home-container .title span{
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--yellowbg-color);
  position: relative;
  padding-bottom: 8px;
}
.home-section-2 .home-container .text-container{
  position: relative;
}
.home-section-2 .home-container .text-container .intro{
  
  
  display: flex;
  justify-content: space-evenly;
}
.home-section-2 .home-container .text-container .intro-class{
  margin-bottom: 30px;
}
.home-section-2 .container .text-container {
  width: 100;
  margin: 0 auto;
  
}


.home-section-2 .home-container .text-container .intro .left-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-section-2 .home-container .text-container .intro .left-container .para {
  width: 600px;
}
.home-section-2 .home-container .text-container .intro .left-container img {
  border: 5px solid var(--yellowbg-color);
  height: 290px;
  width: 290px;


}
/* our teams section */
.team-container{
  min-height: 100vh;
  /* padding: 70px; */
  /* position: relative; */
  width: 100%;
  text-align: center;
  /* margin-top: 100px; */

}
.members{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 400px;
  object-fit: cover;
}
.members img{
  border-radius: 10px;
  border: 5px solid var(--yellowbg-color);
  width: 100%;
  height: 400px;
}
.col-md-12{
  margin: 0 auto;
  flex-wrap: wrap;
  padding:20px ;
  /* border: 2px solid red; */
}
.col-md-4{
  /* border: 2px solid green; */
  height: 370px;
  width: 350px;
  margin: 0 auto;
  position: relative;
  object-fit: cover;
  border: 10px solid var(--yellowbg-color);
  border-radius: 10px;
  transition: 0.5s all ease;
}
.col-md-4:hover{
  transform: scale(1.1);
  box-shadow: 10px 5px 5px 10px solid rgba(0, 0, 0, 0.3);
}
.col-md-4 img{
  height: 100%;
  width: 100%;
  
}

/* footer section */
.footer{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 500px;
  position: relative;
  background-color: var(--yellowbg-color);
}
.footer h1{
  margin-top: 0px;
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
.footer-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  /* margin: 0 auto; */
  padding-top: 30px;
  text-align: center;
}
.contact-icons{
  height: 400px;
  width: 400px;
}
.IIUI-logo img{
  height: 100px;
  width: 300px;

}
.map-container,
.map-container iframe{
   width: 500px;
  height: 400px; 
  padding-bottom: 20px;
}
.footer-section h1{
  color: #fff;
  font-weight:bold ;
}
.icons{
  justify-content: center;
  margin-top: 20px;
}
.icons a{
  text-decoration: none;
  margin: 0 20px;
  transition: 0.3 s all ease-in-out;
}
.icons a i{
  font-size: 3rem;
  color: #fff;
}
.icons i:hover{
  scale: 1.5;

}
/* card section starts */
::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #17a2b8;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}
/* card section ends */
/* Media queries */

@media (max-width:1400px){
  .col-md-4{
    height: 300px;
    width: 300px;
  }
}
@media (max-width:1300px){
  .members{
    width: auto;
  
  }
  .col-md-4{
    height: 250px;
    width: 250px;
  }
  .contact-icons{
    height: 300px;
    width: 300px;
  }
  .map-container,
.map-container iframe{
   width: 400px;
  height: 300px; 
}
}
@media (max-width:1200px){
  .map-container{
    width: 300px;
    height: 300px;
    padding: 0 20px 0 0 ;
  }
}
@media (max-width:1000px){
  .home-section .home-content{
    width: 85%;
  
  }
  .home-section .home-content .text{
    width: 700px;
    /* margin-left: 50px; */
    margin-top: 50px;

  }
  .home-section .home-content .text-one {
    font-size: 25px;
  }
  .home-section .home-content .text-two {
    font-size: 60px;
  }

  .home-section-2 .home-container .text-container .intro {
    display: flex;
    flex-direction: column;
    
  }
  .home-section-2 .home-container .text-container .intro .left-container,
  .home-section-2 .home-container .text-container .intro .right{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .home-section-2 .home-container .text-container .intro .right img{
    margin-top: 20px;
    width:100%;
    height: 230px;
    justify-content: center;
    /* position: relative; */
    border-radius: 0%;
    transform: translateY(0%);
  }
  .team-container .col-md-12 .col-md-4{
    margin: 10px auto;
  }

  .team-container .col-md-12{
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
  }
  .footer-section{
    /* flex-direction: column; */

  }
  .contact-icons{
    height: 300px;
    width: 300px;
  }
  .map-container,
  .map-container iframe{
    width: 200px;
    height: 200px;
    /* padding: 0 20px 0 0 ; */
  }
}

  @media (max-width:800px){
  .home-section .home-content{
    width: 100%;
    border-radius: none;
  }
  .home-section .home-content .text{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: none;
    margin-left: 1px;
  }
  .home-section .home-content .text-one {
    font-size: 25px;
  }
  .home-section .home-content .text-two {
    font-size: 60px;
  }
.button {
  margin: 0 auto;
  margin-left: 0;
}
.home-section-2 .home-container{
  height: auto;
  flex-direction: column;
}
.home-section-2 .home-container .intro .left-container,
.home-section-2 .home-container .intro .right{
  width: 100%;
}
.home-section-2 .home-container .title span{
  font-weight: 600;
  font-size: 2rem;
  color: var(--yellowbg-color);
  position: relative;
  padding-bottom: 8px;
}
.home-section-2 .home-container .text-container .intro .left p{
  font-size: 15px;
  word-spacing: 4px;
  font-weight: 300;

}


}
@media (max-width:735px){
  .home-section .home-content{
    width: 100%;
    border-radius: none;
  }
  .home-section .home-content .text{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: none;
    margin-left: 1px;
  }
  .home-section .home-content .text-one {
    font-size: 20px;
  }
  .home-section .home-content .text-two {
    font-size: 50px;
  }
  .home-section .home-content .text-three{
    font-size: 18px;
  }
  .levels{
    margin-left: 1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .button {
  margin: 0 5px;
  font-size: 25px;
  padding: 5px 10px;
}
.home-section-2 .home-container .title span {
  font-size: 1.5rem;
}
.home-section-2 .home-container .text-container .intro p {
  font-size: 12px;
  
}
.team-container .col-md-12{
  margin: 0 auto;
}
.team-container .col-md-4{
  
  /* width: 100%; */
  margin: 0;
}
.members{
  display: none;
}
}
@media (max-width:600px){
  .team-container{
    padding-top: 100px;
  }
  .footer h1{
    font-size: 2rem;
  }
  .home-section-2{
    height: auto;
  }
  .home-section-2 .home-container{
    height: auto;
  
  }
  .team-container{
    padding: 5px;
  }
.col-md-12{

  padding: 1px;
}
.nmembers img{
  height: 300px;
}

}
@media (max-width:500px){
  .footer h1{
    font-size: 1.5rem;
  }
  .footer-section .contact-icons{
  height: 200px;
  width: 200px;
  }

  .footer-section .contact-icons  .IIUI-logo img{
    width: 200px;
    height:80px;
  }

  .footer-section .map-container{
    width: 100%;
  }
}